.App-header {
  background-color: #222;
  padding-bottom: 0.5rem;
  color: white;
  position: fixed;
  width: 100%;
}

.App-title {
  text-align: center;
  font-size: 1.5em;
}

.App-main {
  padding-top: 7rem;
  background-color: lemonchiffon;
}

.Tweet{
  display: grid;
  grid-template-rows: 1fr 1fr;
  background-color: pink;
  margin-right: 150px;
  margin-left: 80px;
  margin-bottom: 1%;
}
.tweetHeader{
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-left: 10px;
  margin-right: 10px;
}

.Date{
  text-align: right;
}

section p {
  margin-left: 10px;
}


